extends layout

block content
    .row
        .col-sm-3
            image.profile_image(src=user.user.image, alt='profile_image')
        .col-sm-9
            .form-group
                .row
                    .col-sm-4
                        label First name:
                    .col-sm-8
                        label #{user.user.first_name}
            .form-group
                .row
                    .col-sm-4
                        label Last name:
                    .col-sm-8
                        label #{user.user.last_name}
            .form-group
                .row
                    .col-sm-4
                        label Email:
                    .col-sm-8
                        label #{user.user.email}
            .form-group
                .row
                    .col-sm-4
                        label Date of Birth:
                    .col-sm-8
                        label #{user.date}
            .form-group
                .row
                    .col-sm-9
                        textarea#message_area.form-control
            .form-group
                .row
                    .col-sm-4
                        button#message.btn.btn-default(type='submit') Message
                    .col-sm-8
                        label#error_display


    script(src='/js/user_profile.js')